/* Whole page changes */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  padding-top: 155px; 
}

.container {
  padding: 50px 200px;
}

h2 {
  color: orange;
  font-size: 45px;
}

/* Main header code */
.main-header {
  width: 100%;
  background-color: black;
  height: 65px;
  position: fixed;
  top: 0;
  z-index: 1000;
  display: flex;
  font-family: Arial, Helvetica, sans-serif;
}

.logo-container {
  height: 65px;
  width: 51px;
  margin: 0 5px;
}

.logo-fit {
  height: 35px;
  width: 56px;
}

#logo-svg {
  height: 100%;
  width: 100%;
}

.header-main-text-container {
  display: flex;
  flex-direction: column;
  height: 40px;
  width: 70%;
  margin-top: 14px;
}

.top-buttons {
  display: flex;
  height: 16px;
}

#OnClick-text {
  display: flex;
  color: hsl(233.33, 9.89%, 64.31%);
  font-size: 15px;
  text-decoration: none;
  margin-right: 5px;
}

#OnClick-text:hover {
  color: white;
}

.follow-button {
  background-color: hsl(139.41, 58.62%, 54.51%);
  border: none;
  border-radius: 2px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0px 5px;
  cursor: pointer;
}

#follow-font {
  font-size: 10px;
  letter-spacing: .3px;
}

#plus-font {
  font-size: 12px;
  font-weight: bolder;
}

.follow-button:hover {
  background-color: hsl(139.62, 59.09%, 34.51%);
  color: white;
}

.lets-code {
  margin-top: 1px;
  height: 24px;
  color: white;
  font-size: 9px;
}

.btn-row-header-container {
  display: flex;
  justify-content: space-between;
  height: 70%;
  width: 400px;
  margin: auto 0;
}

.btn-header {
  display: flex;
  justify-content: center;
  padding: 0px 18px;
  align-items: center;
  border-radius: 4px;
  border: none;
  font-size: 14px;
  cursor: pointer;
}

#icon-heart {
  font-size: 20px;
}

.default {
  background-color: hsl(227, 12%, 30%);
  color: white;
}

.default:hover {
  background-color: hsl(228, 12%, 50%);
}

.winner {
  background-color: hsl(139.41, 58.62%, 54.51%);
}

.winner:hover {
  color: white;
  background-color: hsl(139.62, 59.09%, 34.51%);
}

/* Scrolling header code */
.scrolling-header {
  height: 90px;
  width: 100%;
  position: fixed;
  top: 65px; 
  background-color: #484d53;
  border-bottom: rgba(255, 255, 255, 0.1) 1px solid;
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  z-index: 999; 
}

.stated {
  margin-left: 190px;
  padding-top: 30px;
  width: fit-content;
  display: flex;
}

.stated a {
  text-decoration: none;
  color: white;
  font-size: 14px;
}

.nav-bar {
  display: flex;
  list-style: none;
  justify-content: space-between;
  width: 470px;
  margin-left: 550px;
  padding-top: 40px;
  font-weight: 500;
}

.nav-bar a {
  color: #999;
  text-decoration: none;
}

.nav-bar a:hover {
  color: white;
}

/* Moto */
.moto {
  background-color: #484d53;
  height: 670px;
}

.moto-container {
  display: flex;
  flex-direction: column;
  width: 35%;
  text-align: center;
  margin: auto;
  padding-top: 215px;
}

.moto-text {
  color: white;
  font-size: 35px;
  margin-bottom: 15px;
}

.moto-quote {
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
}

.how-it-works {
  background-color: #f8f9fa;
  display: flex;
  flex-direction: column;
}

.center-h2 {
  display: flex;
  justify-content: center;
  margin-bottom: 40px;
}

.how-info {
  display: flex;
  justify-content: space-between;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
}

.how-data {
  display: flex;
  flex-direction: column;
  width: 300px;
}

.ion-icon-how {
  display: flex;
  justify-content: center;
  color: orange;
  font-size: 40px;
  margin-bottom: 20px;
  margin-right: 3px;
}

.h3-how {
  display: flex;
  justify-content: center;
  margin-bottom: 5px;
  font-size: 18px;
}

.p-how {
  display: flex;
  text-align: center;
  line-height: 25px;
  color: #777;
}